---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const ekg = await getEntry("ekg", "-index");
const { title, description, meta_title, images, details, files, content } = ekg.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={images.splash}
>
<section class="section-sm">
  <div class="container">
    <div class="row mb-8">
      <div class="col-5">
        <h2 class="title mb-5">{title}</h2>
        <h5 class="text-h6 lg:text-h5 mb-5">{description}</h5>
        <div class="date mb-3">  
          <h4>Date</h4>
          {details.date}
        </div>
        <div class="type mb-3">  
          <h4>Project Type</h4>
          {details.type}
        </div>
        <div class="location mb-3">  
          <h4>Location</h4>
          {details.location}
        </div>
        <div class="role mb-3">  
          <h4>Role</h4>
          {details.role}
        </div>
      </div>
      <div class="col-7">
        <img
          src={images.splash}
          alt={title}
          style="width: 100%; height: auto;"
        />
      </div>
    </div>

    <challenge class="m-16">
      <h3 class="flex justify-center">The Problem</h3>
      <div class="m-5 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;">
        <img src="/images/Problem.png" class="w-10/12" alt="">
      </div>
    </challenge>

    <challenge class="m-16">
      <h3 class="flex justify-center">Prototyping and Testing</h3>
      <div class="m-3 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;">
        <h4 class="col-6 mt-10 text-white">We prototyped potential ways to enable students to share information with their teachers.</h4>  
        <img src="/images/Proto.png" class="w-10/12" alt="">
        <img src="/images/Truthordare.png" class="w-10/12" alt="">
        <img src="/images/Redaction.png" class="w-10/12" alt="">
        <img src="/images/ProtoResult.png" class="w-10/12" alt="">
      </div>
    </challenge>

    <challenge class="m-16">
        <h3 class="flex justify-center">Our Solution: E.K.G.</h3>
        <div class="m-3 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;"> 
          <img src="/images/EKG Poster.png" class="w-9/12 m-16" style="border-radius: 16px;">
        </div>
    </challenge>

    <challenge class="m-16">
        <h3 class="flex justify-center">UI Designs</h3>
        <div class="m-3 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;"> 
          <img src="/images/EKGUI.png" class="w-10/12 mt-8">
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 16px;" class="m-4" width="1000" height="800" src="https://embed.figma.com/design/MOvyvRSnpPyeI154kSgnMQ/EKG-%2B-Design-System?node-id=33525-578&embed-host=share" allowfullscreen></iframe>
        </div>
    </challenge>

    

    


  </div>
</section>
</Base>
