---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";
import { ImageMissingAlt } from "node_modules/astro/dist/core/errors/errors-data";

const engauge = await getEntry("engauge", "-index");
const { title, description, meta_title, images, details, files, content } = engauge.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
<section class="section-sm">
  <div class="container">
    <div class="row mb-8">
      <div class="col-5">
        <h2 class="title mb-5">{title}</h2>
        <h5 class="text-h6 lg:text-h5 mb-5">{description}</h5>
        <div class="date mb-3">  
          <h4>Date</h4>
          {details.date}
        </div>
        <div class="type mb-3">  
          <h4>Project Type</h4>
          {details.type}
        </div>
        <div class="location mb-3">  
          <h4>Location</h4>
          {details.location}
        </div>
        <div class="role mb-3">  
          <h4>Role</h4>
          {details.role}
        </div>
      </div>
      <div class="col-7">
        <img
          src={images.splash}
          alt={title}
          style={{ width: '100%', height: 'auto' }}
        />
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-12">
        <h5 set:html={markdownify(content)} class="text-h6 lg:text-h5 mb-5" />
    </div>
    <div class="row mb-8"></div>
        <img
          src={images.spread}
          alt={title}
          style={{ width: '100%', height: 'auto' }}
        />
        <div class="flex mb-8 justify-center">
          <!-- Image Block 1 -->
          <div class="col-8">
            <img src={images.ss1} class="mb-4" />
            <img src={images.ss2} class="mb-4" />
            <img src={images.ss3} class="mb-4" />
            <img src={images.ss4} class="mb-4" />
            <img src={images.ss5} class="mb-4" />
            <img src={images.ss6} class="mb-4" />
            <img src={images.ss7} class="mb-4" />
            
          </div>
        </div>
    </div>


    </div>
    


  </div>
</section>
</Base>
