---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const page = await getEntry("vending", "-index");
const { title, description, meta_title, images, details, files, content } = page.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={images.splash}
>
<section class="section-sm">
  <div class="container">
    <div class="row mb-8">
      <div class="col-5">
        <h2 class="title mb-5">{title}</h2>
        <h5 class="text-h6 lg:text-h5 mb-5">{description}</h5>
        <div class="date mb-3">  
          <h4>Date</h4>
          {details.date}
        </div>
        <div class="type mb-3">  
          <h4>Project Type</h4>
          {details.type}
        </div>
        <div class="location mb-3">  
          <h4>Location</h4>
          {details.location}
        </div>
        <div class="role mb-3">  
          <h4>Role</h4>
          {details.role}
        </div>
      </div>
      <div class="col-7">
        <img
          src={images.splash}
          alt={title}
          style="width: 100%; height: auto;"
        />
      </div>
    </div>

    <challenge class="m-16">
      <h3 class="flex justify-center">Final Experience</h3>
      <div class="m-5 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;">
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 16px;" width="1000" class="m-8" height="700" src="https://embed.figma.com/proto/MI9YHNoA6lFTO5kUhRBQQv/Guck%2C-Yang%2C-Kitch?page-id=28%3A9&node-id=339-759&viewport=3496%2C3400%2C0.03&scaling=contain&content-scaling=fixed&starting-point-node-id=362%3A86&embed-host=share" allowfullscreen></iframe>
      </div>
    </challenge>

    <challenge class="m-16">
      <h3 class="flex justify-center">Prototype</h3>
      <div class="m-5 flex flex-col justify-center items-center" style="background-color: #2c2c2ce1; border-radius: 16px;">
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 16px;" width="1000" class="m-8" height="700" src="https://embed.figma.com/proto/MI9YHNoA6lFTO5kUhRBQQv/Guck%2C-Yang%2C-Kitch?page-id=550%3A96&node-id=550-170&viewport=518%2C462%2C0.03&scaling=scale-down-width&content-scaling=fixed&embed-host=share" allowfullscreen></iframe>
      </div>
    </challenge>


  </div>
</section>
</Base>
